@font-face{
    font-family:'Sapphire Sativa';
    src:url(./Fonts/Sapphiresativa-0vJ9.ttf) format('truetype')
}
@font-face{
    font-family:'Sweet Leaf';
    src:url(./Fonts/Sweetleaf-7rBP.ttf) format('truetype')
}
@font-face{
    font-family:'Alphasmoke';
    src:url(./Fonts/Alphasmoke-OOX6.ttf) format('truetype')
}


.all-strains-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
}
.strain-container{
    border-radius: 10px;
    border: 4px solid #355A20;
    background-color: #7BAA47;
    margin: 5px;
}
.strain-link{
    text-decoration: none ;
    transition-duration: 0.4s;
    font-family: Alphasmoke;
}
.strain-link:link{
    color:black
}
.strain-link:visited{
    color: black
}
.strain-link:hover{
    /* color:#355A20; */
    color: red;
}