.navbar{
    background-color:#7baa47;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.navbar-option{
    text-decoration: none;
    border: 3px solid black;
    font-size: 25px;
    color: #355a20
}
