@font-face{
    font-family:'Sapphire Sativa';
    src:url(./Fonts/Sapphiresativa-0vJ9.ttf) format('truetype')
}
@font-face{
    font-family:'Sweet Leaf';
    src:url(./Fonts/Sweetleaf-7rBP.ttf) format('truetype')
}
@font-face{
    font-family:'Alphasmoke';
    src:url(./Fonts/Alphasmoke-OOX6.ttf) format('truetype')
}



.recommended-container{
    background-color: black;
    height:100vh;
}
.random-strains{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 30px;
}
.recommended-title{
    font-family: Sapphire Sativa;
    color: #7baa47;
    font-size: 45px;
}

.strain-name{
    border-radius: 10px;
    border: 4px solid #355A20;
    background-color: #7BAA47;
    margin: 5px;
    text-align: center;
    font-family: Alphasmoke;
    font-size: 40px;
}
button{
    border-radius: 12px;
    transition-duration: 0.4s;
    font-size: 30px;
    background-color:black;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    font-family: Sweet Leaf;
}
button:hover{
    background-color:#355a20;
    color:red;
    border : 2px solid whitesmoke;
}