@font-face{
    font-family:'Sapphire Sativa';
    src:url(./Fonts/Sapphiresativa-0vJ9.ttf) format('truetype')
}
@font-face{
    font-family:'Sweet Leaf';
    src:url(./Fonts/Sweetleaf-7rBP.ttf) format('truetype')
}
@font-face{
    font-family:'Alphasmoke';
    src:url(./Fonts/Alphasmoke-OOX6.ttf) format('truetype')
}



.grid-strainfinder-results{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr)) ;
}
.strainfinder-result{
    font-family: Alphasmoke;
    font-size: 25px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 5px;
}