@font-face{
    font-family:'Sapphire Sativa';
    src:url(./Fonts/Sapphiresativa-0vJ9.ttf) format('truetype')
}
@font-face{
    font-family:'Sweet Leaf';
    src:url(./Fonts/Sweetleaf-7rBP.ttf) format('truetype')
}
@font-face{
    font-family:'Alphasmoke';
    src:url(./Fonts/Alphasmoke-OOX6.ttf) format('truetype')
}



.allstrain-strain-name{
    margin: 0%;
    text-align: center;
    font-family: Sapphire Sativa;
    font-size: 55px;
}
.strian-desc{
    text-align: center;
    font-family: Sweet Leaf;
    font-size: 26px;
}
.strain-race{
    text-align: center;
    font-family: Sweet Leaf;
    font-size: 40px;
}
.effects-title,.effect-title{
    text-align: center;
    font-family: Sweet Leaf;
    font-size: 40px;
}
.effects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.allstrian-strain-container{
    border-radius: 10px;
    border: 4px solid #355A20;
    background-color: #7BAA47;
    margin: 10px;
    /* background-image: url(https://www.publicdomainpictures.net/pictures/40000/velka/cannabis-plant-leaf.jpg); */
}
.effect{
    text-align: center;
    font-family: Alphasmoke;
    font-size: 25px;
}
